<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fimi.android.app">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.usb.accessory" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.fimi.app.base.HostApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_fimiapp"
        android:label="@string/app_product_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="channel"
            android:value="xiaomi" />
        <meta-data
            android:name="splash_icon"
            android:resource="@drawable/icon_splash_fimiapp" />

        <activity
            android:name="com.fimi.app.ui.SplashActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.app.ui.FimiAoaSplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <activity
            android:name="com.fimi.app.ui.main.HostNewMainActivity"
            android:configChanges="keyboardHidden|layoutDirection|locale|mcc|mnc|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fimi.android.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths_gh2" />
        </provider>

        <activity
            android:name="com.fimi.libperson.ui.me.login.LoginMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.libperson.ui.me.login.LoginActivity"
            android:configChanges="keyboardHidden|layoutDirection|locale|mcc|mnc|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />

        <activity
            android:name="com.fimi.libperson.ui.me.register.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.libperson.ui.setting.LibPersonAboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.libperson.ui.setting.LibPersonRightApplyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.libperson.ui.setting.PersonSettingNewActivity"
            android:configChanges="layoutDirection|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.libperson.ui.me.countryselect.CountrySelectListActivity"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.fimi.libperson.ui.web.UserProtocolWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.libperson.ui.setting.LanguageSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.libperson.ui.setting.ServiceSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.fimi.libperson.receiver.LocalChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name="com.fimi.libdownfw.service.AppInitService" />

        <activity
            android:name="com.fimi.libdownfw.update.DownloadFwSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.libdownfw.update.FindeNewFwDownActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/gaode_maps_key" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.fimi.app.x8s.ui.activity.X8SplashActivity"
            android:allowBackup="false"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fimi.app.x8s.ui.activity.X8DeviceSelectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fimi.app.x8s.ui.activity.X8sMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/x8s_main_activity_style"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fimi.app.x8s.ui.activity.X8FlightPlaybackActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.fimi.app.x8s.ui.activity.update.X8UpdateDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.fimi.app.x8s.ui.activity.update.X8UpdatingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.fimi.app.x8s.ui.album.x8s.X8MediaActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.fimi.app.x8s.ui.activity.X8AiLineHistoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fimi.app.x8s.ui.album.x8s.X8FimiPlayerActivity"
            android:configChanges="keyboardHidden|layoutDirection|locale|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.fimi.app.x8s.ui.album.x8s.X8MediaDetailActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name="com.fimi.app.x8s.ui.activity.X8MediaPlayTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <service android:name="com.fimi.x8sdk.service.DownFlightPlaybackService" />
        <service android:name="com.fimi.network.DownFwService" />
        <service android:name="com.fimi.apk.DownloadApkService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/uemng_facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.xiaomi.account.openauth.AuthorizeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.fimi.album.ui.MediaActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoActionBar" />

        <activity
            android:name="com.fimi.album.ui.MediaDetailActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoActionBar" />

        <activity
            android:name="com.fimi.album.ui.VideoPlayActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoActionBar" />

    </application>

</manifest>